<h1>Add a new board</h1>

<form action="/boards" method="post">
  <div class="form-group">
    <label for="board_name">Board name</label>
    <input type="text" name="board_name" id="n" class="form-control">
    <label for="board_message">Message</label>
    <input type="text" name="board_message" id="n1" class="form-control">
  </div>
  <button type="submit" name='add_board' class="btn">Go!</button>
</form>
